# ========== Node / пакетные менеджеры ==========
node_modules/
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# ========== Сборка / артефакты ==========
# (глобально и в подпапках apps/*)
dist/
**/dist/
build/
**/build/

# Next.js
.next/
out/                  # next export (если используете)
**/*.hot-update.*     # webpack/next HMR chunks

# TypeScript инкрементальная компиляция
*.tsbuildinfo
**/*.tsbuildinfo

# ========== Секреты / окружение ==========
# игнорим env-файлы везде, но оставляем примеры
.env
.env.local
**/.env
**/.env.local
**/.env.*.local
.envrc                 # direnv
!.env.example
!**/.env.example

# ========== Кэши / инструменты ==========
.cache/
.eslintcache
.turbo/
.npm/
coverage/
.nyc_output/

# ========== ОС / IDE ==========
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json  # разрешаем рекомендованные расширения

# ========== Временные файлы ==========
*.tmp
*.bak
*.swp
*.swo

# ========== Безопасность ==========
.git-credentials
