{
  email artemprokopev@internet.ru
}

http://stationeden.ru, http://www.stationeden.ru, http://api.stationeden.ru {
  redir https://{host}{uri} permanent
}

stationeden.ru, www.stationeden.ru {
  encode zstd gzip

  @nextStatic {
    path /_next/static/* /_next/image/* /favicon.ico
  }
  header @nextStatic Cache-Control "public, max-age=31536000, immutable"

  @assets {
    path /avatars/* /frames/* /icons/* /fonts/* /decor/*
    path /panel.png /roboted.png /login-background.* /register-background.* /main-background.* /lobby-background.* /profile-background.* /settings-background.*
  }
  header @assets Cache-Control "public, max-age=31536000, immutable"

  # /api/* -> в Nest без префикса /api (т.е. /api/users/profile -> /users/profile)
  handle_path /api/* {
    reverse_proxy api:4000
  }

  # /auth/* -> в Nest С СОХРАНЕНИЕМ /auth (т.е. /auth/me -> /auth/me)
  handle /auth/* {
    reverse_proxy api:4000
  }

  @csrf {
    path /auth/csrf
  }
  header @csrf Cache-Control "no-store, no-cache, must-revalidate"
  header @csrf Pragma "no-cache"
  header @csrf Expires "0"

  handle {
    reverse_proxy web:3000
  }

  header {
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}

api.stationeden.ru {
  encode zstd gzip

  handle {
    reverse_proxy api:4000
  }

  header Access-Control-Allow-Origin "https://stationeden.ru"
  header Access-Control-Allow-Credentials "true"
  header X-Content-Type-Options "nosniff"
}
