.currency {
	display: flex;
	align-items: center;
	padding: 6px 20px;
	border-radius: 20px;
	background: rgba(99, 239, 255, 0.04);
	border: 2px solid #204c72;
	box-shadow: 0 0 10px #63efff59;
	gap: 10px;
	transition: all 0.3s ease;
}

.value {
	color: #63efff;
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	min-width: 60px;
	font-family: 'RussoOne', sans-serif;
	text-shadow:
		0 0 2px rgba(99, 239, 255, 0.9),
		0 0 8px rgba(99, 239, 255, 0.35),
		0 0 20px rgba(99, 239, 255, 0.12);
	transform: translateY(1px);
}

.content {
	display: flex;
	align-items: center;
	gap: 24px;
	transition: all 0.3s ease;
}

.addButton {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 44px;
	height: 44px;

	background-color: rgba(99, 239, 255, 0.22);
	border-radius: 50%;
	border: none;
	cursor: pointer;
	flex-shrink: 0;

	padding: 0;
	margin: 0;

	transition: background-color 0.25s ease;
}

.addButton:hover {
	background-color: rgba(99, 239, 255, 0.38);
}

/* ИДЕАЛЬНО центрированный плюс */
.addButton::before {
	content: '+';
	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);

	font-family: 'RussoOne', sans-serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 1;

	color: #63efff;
	user-select: none;
	pointer-events: none;
}
