/* apps/web/src/app/settings/components/sections/SoundSettings/SoundSettings.module.css */
.soundSettings {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.settingRow {
  margin-bottom: 0; /* Убираем возможные отступы из родительского компонента */
}